APP_NAME=APP_NAME
APP_HOST=APP_HOST
APP_PORT=APP_PORT
APP_SCHEME=APP_SCHEME

PROJECT_ID=PROJECT_ID
GOOGLE_WEB_CLIENT_ID=GOOGLE_WEB_CLIENT_ID

REVERB_APP_ID=APP_ID
REVERB_APP_KEY=APP_KEY
REVERB_APP_AUTH=APP_AUTH
REVERB_APP_HOST=APP_HOST
REVERB_APP_PORT=APP_PORT
REVERB_APP_ENCRYPT=APP_ENCRYPT