# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release

# Flutter/Dart/Pub related
.dart_tool/
.packages
build/
flutter_*.png

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# VS Code related
.vscode/

# Mac related
*.DS_Store

# Windows related
*.exe
*.dll
*.bat
*.pdb
*.tmp
*.log

# Linux related
*.so

# Android related
local.properties
*.gradle
*.idea/
*.gradlew
*.gradlew.bat
.gradle/
build/
outputs/
captures/
.google_play_services.json

# iOS related
**/Pods/
**/Podfile.lock
**/Podfile
**/xcuserdata/
**/DerivedData/
**/*.pbxuser
**/*.mode1v3
**/*.mode2v3
**/*.perspectivev3
**/xcuserdata
**/project.xcworkspace
!**/Flutter/Flutter.framework
!**/Flutter/App.framework
**/.symlinks/
**/flutter_export_environment.sh
**/.ios/
